
<div style="border-radius: 20px; border: solid #D3D3D3 20px; margin-left: 100px; margin-right: 100px; margin-top: 20px;">
    <!-- <mat-grid-list cols="2" rowHeight="10:1" >
        <mat-grid-tile style="background-color: #63ba46;">
          <h2 style="margin-left: 75%; font-size: 40px; margin-top: 20px;">Admin</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <h2 style="margin-right: 80%; font-size: 40px; margin-top: 20px;">Login</h2>
          </mat-grid-tile>
    </mat-grid-list> -->
    <mat-grid-list cols="2" rowHeight="250px:200px">
        <mat-grid-tile style="background-color: #63ba46;">
          <h3>Welcome to NutriTap technology</h3>
          <p style="color: aliceblue;"> 
            NutriTap brings nutritious yet delicious foods and beverages on tap through state of the art automated retail machines. Our desire is to bring health and nutrition into busy and desk sitting  companies life. Through our innovative, tech-driven and anywhere-anytime automated retailing machines, we bring healthy foods and beverages at an arm's length of a companies employee. Our team of nutritionists work overtime to research through a range of health foods available nationally and locally and then carefully select products which are best suited to the requirements  of present day lifestyle challenges.
          </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list> 
            <p>
          <mat-form-field appearance="outline">
            <mat-label mat-flot>Username</mat-label>
            <input matInput placeholder="Enter Your username" required>
          </mat-form-field>
        </p>
           <p>
          <mat-form-field appearance="outline">
            <mat-label mat-flot>Password</mat-label>
            <input matInput type="password" placeholder="Enter Your Password" required style="width: 200px;">
          </mat-form-field>
        </p>
        <p>
          <button mat-button style="width: 100%; background-color: #63ba46; font-size: 20px;">Login</button>
        </p>
        </mat-list> 
        </mat-grid-tile>
      </mat-grid-list>
<!-- </div>
    <img src="assets/img/NutriTap-Logo.png" alt="123" style="background-color: blanchedalmond; width: 15%;height:auto ; position: absolute;left: 41%; right: 40%;top: 35%; "> -->
   <div id="circle" style="left: 46%; right: 40%;top: 42%; background-color: white;">
    <img src="assets/img/NutriTap-Logo.png" alt="123" style=" width: 80%;height:auto; margin-left: 10px; margin-top: 22px;">
</div> 

