<div  class="regis">
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile style="background-color:	#90EE90;"></mat-grid-tile>
        <mat-grid-tile>
            <form>
                <div class="form-group">
                  <!-- <label for="exampleInputEmail1">Email address</label> -->
                  <input type="email" class="form-control" placeholder="Enter your username" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputPassword1">Password</label> -->
                  <input type="password" class="form-control" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary" style="background-color:#90EE90; width: 100%;">Login</button>
              </form>
        </mat-grid-tile>
      </mat-grid-list>
      <img src="assets/img/NutriTap-Logo.png" alt="123" style=" width: 15%;height:auto ; position: absolute;left: 41%; right: 40%;top: 30%; ">
</div>
