

  <!-- <div class="container">
    <form action="/action_page.php">
      <div class="row">
        <h4 style="text-align:center">Admin Login</h4>
  
        <div class="col" style="width:20%; margin-left: 100px;">
            <div style="margin-top: 30px;">
        <span> lkjsdlkjdfs </span>
        lkfdmnlkfn <br>
        <b> lkjsdlkjdfs </b>
        lkfdmnlkfn <br>
        <b> lkjsdlkjdfs </b>
        lkfdmnlkfn <br>
        <b> lkjsdlkjdfs </b>
        lkfdmnlkfn
    </div>
        </div>

        <div class="col">
            <img src="assets/img/NutriTap-Logo.png" style="width: 190px; height: 80px; margin-top: 20px;" alt="">
          </div>
        <div class="col" style="width: 30%;">
            <label style="font-size: medium; color: black;">Username</label>
          <input type="text" name="username" placeholder="Username" required>
          <label style="font-size: medium; color: black;">Password</label>
          <input type="password" name="password" placeholder="Password" required>
          <input type="submit" value="Login">
        </div>
  
      </div>
    </form>
  </div> -->
<a routerLink="Login">login</a><br>
<a routerLink="registration">Registration</a> <br>
<a routerLink="test">Testing purpose</a>

<router-outlet></router-outlet>